.free-market-all
  .margin-top
    .my-page-main
      .my-page-main__icon-line
        .my-page-main__icon-line--samiel
          = link_to("#", class: "buy__second--right__btn") do
            %i.left-btn.fa.fa-user-circle
        .my-page-main__icon-line--user-name
          user name
        .my-page-main__icon-line--review
          review and number
    .main-buy
      .buy
        .buy__first
          出品した商品
        .buy__second
          %a.buy__second--right.right-man
            過去の取引
        - if products_url == nil    
          .buy__third
            取引中の商品がありません
        - else
          .containerBrand__product--lists
            - current_user.products.where(status: 0).each do |product|
              = link_to product_path(product), class: "listBtn" do
                %figure.product__images
                  = image_tag product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
                .containerBrand__product--lists__list--body
                  %h3.product--name
                    = product.name
                  .containerBrand__product--lists__list--body__details
                    %ul.details__menu
                      %li
                        = product.price
                        円
                      %li ★
                  %p.taxIncluded （税込）
        .buy__fifth
          過去の取引はありません