#image-box
            #previews
              - if @item.persisted?
                - @item.item_images.each_with_index do |image, i|
                  - id_str = ‘image-’ + (i).to_s
                  = image_tag image.image.url, id: id_str ,data: {index: i}, width: ‘118’, height: ‘118’
            #file-box
              = form.fields_for :item_images do |image|
                .js-file_group{data: {index: image.index}}
                  = image.label :image, data: {index: image.index} do
                    %svg{“aria-hidden” => “true”, :fill => “#222222”, “fill-rule” => “evenodd”, :height => “24", :viewbox => “0 0 24 24”, :width => “24"}
                      %path{:d => “M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z”}
                    = image.file_field :image, class: ‘js-file ’
                  %span.js-remove 削除
                - if @item.persisted?
                  - destroy_id_str = ‘destroy-’ + (image.index).to_s
                  = image.check_box :_destroy, data: {index: image.index}, class: ‘hidden-destroy’, id: destroy_id_str
              - if @item.persisted?
                - lastIndex = @item.item_images.count
                .js-file_group{“data-index”: “#{lastIndex}“}
                  = form.label :image, data: {index: lastIndex} do
                    %svg{“aria-hidden” => “true”, :fill => “#222222”, “fill-rule” => “evenodd”, :height => “24", :viewbox => “0 0 24 24”, :width => “24"}
                      %path{:d => “M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z”}
                    = form.file_field :image, name: “item[item_images_attributes][#{lastIndex}][image]“, class: ‘js-file product-listings-page__main__contents__photo-box__drop-area__file’
                  %span.js-remove 削除
            %span#image_error.error_m
折りたたむ








16:11
無題 